pip==20.3.4
packaging>=20.0,<21.0
six<=1.16.0
MarkupSafe<=1.1.1
jinja2<=2.11.3
PyYAML==5.4
cryptography==3.3.2
ansible==4.2.0
ansible-core==2.11.2
pbr==5.5.1
setuptools<=41.6.0
setuptools-scm<=1.17.0
resolvelib<=0.5.4
netaddr<=0.7.19
charmhelpers==0.20.23
pyaml==21.10.1
charms.reactive==1.4.1
