[Unit]
Description=Virtfs Node Exporter
After=syslog.target network.target libvirt-bin.service
Requires=libvirt-bin.service

[Service]
User=root
ExecStart=/usr/bin/python3 /opt/virtfs_exporter/virtfs_exporter.py --disk --ip "{% if not exp_host or exp_host == 'none' %}{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}{% else %}{{ exp_host }}{% endif %}" --port {{ exp_port }}

[Install]
WantedBy=multi-user.target
